* {
    margin: 0;
    padding: 0;
}

input,
textarea {
    border-radius: 3px;
    padding: 12px 16px;
    width: 100%;
    display: block;
    background-color: rgb(239, 242, 249);
    outline-color: rgb(26, 145, 240);
    border: 0px;
    color: rgb(30, 37, 50);
    font-family: inherit;
}

header {
    /* display: none; */
}

#cv-form {
    /* display: none; */
}

#cv-template {
    display: none;
}

.myimg {
    width: 190px;
    height: 180px;
    border-radius: 50%;
    margin-top: 3rem;
}




/* icons */
.bi {
    color: white;
}

.bi:hover {
    color: yellow;
    cursor: pointer;
}